body{
    font-family: 'Roboto';
    color: #212121;
    font-style: normal;
    font-weight: 500;
}

a{
    color: #212121;
}

a:link{
    text-decoration: none;

}
a:hover{
    color: #2196F3;
}
a:active{
    color: #2196F3;
}
a:focus{
    color: #2196F3;
}
button{
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
}
button:hover{
    background-color: #2196F3;
    color: #FFFFFF;
}
button:active{
    background-color: #2196F3;
    color: #FFFFFF;
}
button:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}
.info{
    color: rgb(57, 56, 56);
}
.webstudio{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.text-info{
    font-weight: 500;
    font-size: 14px; 
    list-style: none;
    line-height: 1.14;
    color: #757575;
}

.primera{
    background-color: #2F303A;;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #FFFFFF;
}



.caption{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.list{
    list-style: none;
}

.title-caption{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.caption-team{
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.text-team-projects{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #757575;
}

.back{
    background-color: #2F303A;    
}

.text-footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}

.text-footer-info{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.caption-projects{
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.principal{
    color: #2196F3;
    font-size: 14px;
    line-height: 1.14;
}
.princ_nav{
    font-size: 14px;
    line-height: 1.14;
}

.button_index{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color:  #2196F3;
    color: #FFFFFF;

}

.button_portafolio{
    font-weight: 500;
    font-size: 16px;
    line-height: 2.25;
}

